asl_x
asl_y
asl_dataset
final_dataset
*.h5
actual
cv
data
epochs
finalz_dataset
small_data
uploads
asl_x
asl_y
autochange.py
checkpoint
display.py
hand_gesturev3.py
model_dah_shizz.py
train.py
hand_gesture_2.py
.idea
epochs2
wikitext-103-raw
test_image.png